  <mat-nav-list>
      <a mat-list-item (click)="sideNav.toggle()">
          <mat-icon>person_outline</mat-icon>&nbsp;&nbsp;Login
      </a>
      <a mat-list-item (click)="sideNav.toggle()">
              <mat-icon>person_add</mat-icon>&nbsp;&nbsp;Sign Up
      </a>
      <a mat-list-item (click)="sideNav.toggle()">
              <mat-icon>home</mat-icon>&nbsp;&nbsp;Home
      </a>
      <a mat-list-item (click)="sideNav.toggle()">
              <mat-icon>home</mat-icon>&nbsp;&nbsp;Home
      </a>
  </mat-nav-list>